<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%6r %5p [%t] [%-25X{TEST}] %35C{1} | %m%n" />
		</layout>
	</appender>

	<appender name="PROFILE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %m%n" />
		</layout>
	</appender>

	<logger name="org.softwareforge.struts2.breadcrumb">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.struts2">
		<level value="INFO" />
	</logger>

	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
		<!-- set to ERROR to avoid logging message of form [OgnlValueStack] Could not find property [xxx] -->
		<level value="ERROR" />
	</logger>

	<logger name="com.opensymphony.xwork2.util.profiling.UtilTimerStack" additivity='true'>
		<level value="DEBUG" />
		<appender-ref ref="PROFILE" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>